:root {
    --primary-color: #385aa7;
    --secondary-color: #fecc02;

    --dark-color: #333;
    --border-radius: .3rem;
}
body {
    color: var(--primary-color);
    background-color: #fff; 
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.btn-primary {
    background-color: var(--primary-color);
}
/* Navbar */
.navbar {
    background-color: #e7ebf4;
    margin-bottom: 3rem;
}
.navbar-brand {
    font-size: 3rem;
    color: var(--secondary-color);
    text-shadow: 1px 3px 0px var(--primary-color);
}
.navbar-brand .logo {
    max-width: 250px;
}

.navbar-cart {
    font-size: 1.5rem;
    color: var(--dark-color);
}

/* Pokemon Card */

.pokemon-card {
    padding: 1rem;
    margin: 1rem;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
}
.pokemon-card-content {
    border-radius: var(--border-radius);
}
.pokemon-card-header {
    background-color: var(--primary-color);
    color: #fff;
}

.pokemon-card-header h2 {
    text-transform: capitalize;
    font-weight: 100;
    font-size: 1.2rem;
}
.pokemon-card-body {
    background-color: #fff;
    color: var(--dark-color);
    text-align: center;
}
.pokemon-card-footer {
    background-color: #fff;
    padding: .5rem;
    font-size: 2rem;
    color: var(--dark-color);
    text-align: center;
    
}

/* Cart */
.cart {
    padding: 1rem;
    background-color: #e7ebf4;
    position: sticky;
    margin-top: 1rem;
    border-radius: var(--border-radius);
}
.cart ul {
    list-style: none;
    padding-left: 0;
}
.cart ul li {
    border-bottom: 1px solid #ccc;
    padding: .5rem 0;
}
.cart ul li:last-child{
    border-bottom: none;
}

.cart ul li span {
    float: right;
}
.cart .total {
    text-transform: uppercase;
    font-weight: bold;
}

/* Search */ 

.search input {
    margin-left: 1rem;
}